<div class="navbar">
  <div class="navlogo">
    <i class="fas fa-atom"></i>
    <h3>Small Pdf</h3>
  </div>
  <div class="nav-content">
    <span>SmallPdf</span>
    <button class="login">Login</button>
    <span>Free Trial</span>
  </div>
</div>
